
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.submit-img {
    justify-content: center;
    height: 3rem;
    position: relative;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
