.container {
    background-color: #313131;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 5rem auto;
    padding: 1.5rem;
    min-width: max-content;
}

.question-container {
    font-size: 1.25rem;
}
